@model Minishop.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">New Shoes Arrival</h2>
                <div class="d-flex flex-wrapm justify-content-center align-content-around">
                    @foreach (var item in Model.ListPhanLoaiPhu)
                    {
                        var geturl = "https://localhost:44319/api/productapi/?maloai=" + item.MaPhanLoaiPhu;
                        <span class="mr-2">
                            <a style="cursor:pointer" onclick="showProductbyCategory('@geturl')">
                                @item.TenPhanLoaiPhu
                        </a>
                    </span>
                }
                </div>
            </div>

        </div>
    </div>


    <div id ="displayProduct" class="container">
        <div class="row">

            @foreach (var item in Model.ListSanPham)
            {
             <div class="col-sm-12 col-md-6 col-lg-3 ftco-animate d-flex">
                <div class="product">
                    <a href="#" class="img-prod">
                        <img class="img-fluid" src="~/Content/images/@item.AnhDaiDien" alt="Colorlib Template">
                        <div class="overlay"></div>
                    </a>
                    <div class="text py-3 pb-4 px-3">
                        <div class="d-flex">
                            <div class="cat">
                                <span>Lifestyle</span>
                            </div>
                            <div class="rating">
                                <p class="text-right mb-0">
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                </p>
                            </div>
                        </div>
                        <h3><a href="#">@item.TenSanPham</a></h3>
                        <div class="pricing">
                            <p class="price"><span>@item.DonGiaBanNhoNhat</span></p>
                        </div>
                        <p class="bottom-area d-flex px-3">
                            <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                            <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>

</section>

@section scripts{
    <script>
        function showProductbyCategory(geturl) {
            let str = `<div class="d-flex flex-wrap">`;
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: geturl,
                success: function (data) {
                    $.each(data, function (key, val) {
                        var linkImage = "../Content/images/"+val.AnhDaiDien;
                        str += `<div class="col-sm-12 col-md-6 col-lg-3 d-flex">
                                <div class="product">
                                    <a href="#" class="img-prod">
                                        <img class="img-fluid" src="${linkImage}" alt="Colorlib Template">
                                        <div class="overlay"></div>
                                    </a>
                                    <div class="text py-3 pb-4 px-3">
                                        <div class="d-flex">
                                            <div class="cat">   
                                                <span>Lifestyle</span>
                                            </div>
                                            <div class="rating">
                                                <p class="text-right mb-0">
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                    <a href="#"><span class="ion-ios-star-outline"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                        <h3><a href="#">${val.TenSanPham}</a></h3>
                                        <div class="pricing">
                                            <p class="price"><span>${val.DonGiaBanNhoNhat}</span></p>
                                        </div>
                                        <p class="bottom-area d-flex px-3">
                                            <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
                                            <a href="#" class="buy-now text-center py-2">Buy now<span><i class="ion-ios-cart ml-1"></i></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>`
                    });
                    str+=`</div>`
                    $('#displayProduct').html(str);
                },
                error: function (xhr) {
                    alert(xhr.reponseText);
                }
            });

        }

    </script>
    
    
    
    }
